:root {
    --green200: hsl(148, 38%, 91%);
    --green600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --grey500: hsl(186, 15%, 59%);
    --grey900: hsl(187, 24%, 22%)
}

@font-face {
    font-family: 'Karla';
    /* src: url(assets/fonts/Karla-VariableFont_wght.ttf) format("ttf"); */
    src: url(https://fonts.google.com/specimen/Karla);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: Karla, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: var(--green200);
    color: var(--grey900);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


#toast {
    position: fixed;
    inset: auto 1.5rem;
    top: 2rem;

    margin: auto;
    padding: 0.75rem 1.25rem;
    border: none;

    background-color: var(--green600);
    color: white;

    opacity: 0;
    /* transition: opacity 1s ease-in,
                display 1s ease-in allow-discrete; */
    transition: all 0.5s allow-discrete;
    transform: translateY(2rem);
}

#toast:popover-open {
    opacity: 1;
    transform: translateY(0);
}

@starting-style {
    #toast:popover-open {
        opacity: 0;
        transform: translateY(2rem);
    }
}

.container {
    background-color: white;
    border-radius: 20px;

    max-width: 40rem;
    padding: 2rem;
    margin-top: 5rem;
    width: 100%;
}

label {
    font-size: 16px;
    margin-bottom: 1rem;
}

legend {
    padding-bottom: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 1rem 0;
}

.warning {
    color: var(--red);
    display: none;
}

.names, .radio-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.namefield {
    margin: 1rem 0;
    width: 100%;
}

.radio-box, .inputbox {
    border: 1px solid var(--grey500);
    border-radius: 7px;
    padding: 1rem 1.5rem;
    width: 100%;
}

.radio-box:hover, .inputbox:hover  {
    border-color: var(--green600);
}

.consent-box {
    margin: 3rem 0;
}

#submitButton {
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 1rem;
    background-color: var(--green600);
    color: white;
    font-family: Karla, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

#fname:user-invalid { border-color: var(--red);}
#fname:user-invalid ~ #fnameWarning { display: block; }

#lname:user-invalid ~ #lnameWarning { display: block; }
#email:user-invalid ~ #emailWarning { display: block; }
#email:user-invalid ~ #emailInvalid { display: block; }
#message:user-invalid ~ #messageWarning { display: block; }

